


<div class="row">
  <div class="col-sm-6">
    <h1>Clientes</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_cliente_path, class: 'btn btn-primary' do %>
    Agregar Cliente
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id="dt" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Nombre</th>
            <th>Rut</th>
            <th>Fono</th>
            <th>Direccion</th>
            <th>Sede</th>
            <th>Otros</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @clientes.each do |cliente| %>
        <%= content_tag :tr, id: dom_id(cliente), class: dom_class(cliente) do %>


                      <td><%= cliente.nombre %></td>
                      <td><%= cliente.rut %></td>
                      <td><%= cliente.fono %></td>
                      <td><%= cliente.direccion %></td>
                      <td><%= cliente.sede %></td>
                      <td><%= cliente.otros %></td>


            <td><%= link_to 'Ver', cliente %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
