<div class="page-header">
  <%= link_to servicios_path, class: 'btn btn-primary' do %>
    Servicios
  <% end %>
  <%= link_to edit_servicio_path(@servicio), class: 'btn btn-primary' do %>
    Editar
  <% end %>
  <h1>Servicio</h1>
</div>

<dl class="dl-horizontal">
  <dt>Fecha:</dt>
  <dd><%= @servicio.fecha %></dd>

  <dt>Cliente:</dt>
  <dd><%= @servicio.cliente.nombre %></dd>

  <dt>Equipo:</dt>
  <dd><%= @servicio.equipo.serie %></dd>

  <dt>Enchufes:</dt>
  <dd><%= @servicio.enchufes %></dd>

  <dt>Cables:</dt>
  <dd><%= @servicio.cables %></dd>

  <dt>Conecciones:</dt>
  <dd><%= @servicio.conecciones %></dd>

  <dt>Estructura:</dt>
  <dd><%= @servicio.estructura %></dd>

  <dt>Corrosion:</dt>
  <dd><%= @servicio.corrosion %></dd>

  <dt>Bases:</dt>
  <dd><%= @servicio.bases %></dd>

  <dt>Ventiladores:</dt>
  <dd><%= @servicio.ventiladores %></dd>

  <dt>Condensador:</dt>
  <dd><%= @servicio.condensador %></dd>

  <dt>Compresor:</dt>
  <dd><%= @servicio.compresor %></dd>

  <dt>Evapodador:</dt>
  <dd><%= @servicio.evapodador %></dd>

  <dt>Linea refrigetante:</dt>
  <dd><%= @servicio.linea_refrigetante %></dd>

  <dt>Aislacion:</dt>
  <dd><%= @servicio.aislacion %></dd>

  <dt>Correas:</dt>
  <dd><%= @servicio.correas %></dd>

  <dt>Lubricacion:</dt>
  <dd><%= @servicio.lubricacion %></dd>

  <dt>Drenajes:</dt>
  <dd><%= @servicio.drenajes %></dd>

  <dt>Filtro de aire:</dt>
  <dd><%= @servicio.filtro_de_aire %></dd>

  <dt>Carcasa:</dt>
  <dd><%= @servicio.carcasa %></dd>

  <dt>Partida normal:</dt>
  <dd><%= @servicio.partida_normal %></dd>

  <dt>Vibraciones y ruido:</dt>
  <dd><%= @servicio.vibraciones_y_ruido %></dd>

  <dt>Luces e indicacdores:</dt>
  <dd><%= @servicio.luces_e_indicacdores %></dd>

  <dt>Direccion de ventiladores:</dt>
  <dd><%= @servicio.direccion_de_ventiladores %></dd>

  <dt>Nivel de aceite:</dt>
  <dd><%= @servicio.nivel_de_aceite %></dd>

  <dt>Nivel de refrigerante:</dt>
  <dd><%= @servicio.nivel_de_refrigerante %></dd>

  <dt>Pruebas de funcionamiento:</dt>
  <dd><%= @servicio.pruebas_de_funcionamiento %></dd>

  <dt>Alarmas:</dt>
  <dd><%= @servicio.alarmas %></dd>

  <dt>Sobrecalor:</dt>
  <dd><%= @servicio.sobrecalor %></dd>

  <dt>Sobrecalentamiento:</dt>
  <dd><%= @servicio.sobrecalentamiento %></dd>

  <dt>Presion de succion:</dt>
  <dd><%= @servicio.presion_de_succion %></dd>

  <dt>Presion de descarga:</dt>
  <dd><%= @servicio.presion_de_descarga %></dd>

  <dt>Tarjeta de control:</dt>
  <dd><%= @servicio.tarjeta_de_control %></dd>

  <dt>Compresor f1:</dt>
  <dd><%= @servicio.compresor_f1 %></dd>

  <dt>Compresor f2:</dt>
  <dd><%= @servicio.compresor_f2 %></dd>

  <dt>Compresor f3:</dt>
  <dd><%= @servicio.compresor_f3 %></dd>

  <dt>Compresor m:</dt>
  <dd><%= @servicio.compresor_m %></dd>

  <dt>Ventilador compresor f1:</dt>
  <dd><%= @servicio.ventilador_compresor_f1 %></dd>

  <dt>Ventilador compresor f2:</dt>
  <dd><%= @servicio.ventilador_compresor_f2 %></dd>

  <dt>Ventilador compresor f3:</dt>
  <dd><%= @servicio.ventilador_compresor_f3 %></dd>

  <dt>Ventilador compresor m:</dt>
  <dd><%= @servicio.ventilador_compresor_m %></dd>

  <dt>Ventilador evaporador inyeccion f1:</dt>
  <dd><%= @servicio.ventilador_evaporador_inyeccion_f1 %></dd>

  <dt>Ventilador evaporador inyeccion f2:</dt>
  <dd><%= @servicio.ventilador_evaporador_inyeccion_f2 %></dd>

  <dt>Ventilador evapodar f3:</dt>
  <dd><%= @servicio.ventilador_evapodar_f3 %></dd>

  <dt>Ventilador evaporador m:</dt>
  <dd><%= @servicio.ventilador_evaporador_m %></dd>

  <dt>Ventilador retorno f1:</dt>
  <dd><%= @servicio.ventilador_retorno_f1 %></dd>

  <dt>Ventilador retorno f2:</dt>
  <dd><%= @servicio.ventilador_retorno_f2 %></dd>

  <dt>Ventilador retorno f3:</dt>
  <dd><%= @servicio.ventilador_retorno_f3 %></dd>

  <dt>Ventilador retorno m:</dt>
  <dd><%= @servicio.ventilador_retorno_m %></dd>

  <dt>Calefactor f1:</dt>
  <dd><%= @servicio.calefactor_f1 %></dd>

  <dt>Calefactor f2:</dt>
  <dd><%= @servicio.calefactor_f2 %></dd>

  <dt>Calefactor f3:</dt>
  <dd><%= @servicio.calefactor_f3 %></dd>

  <dt>Calefactor m:</dt>
  <dd><%= @servicio.calefactor_m %></dd>

  <dt>Cable poder f1:</dt>
  <dd><%= @servicio.cable_poder_f1 %></dd>

  <dt>Cable poder f2:</dt>
  <dd><%= @servicio.cable_poder_f2 %></dd>

  <dt>Cable poder f3:</dt>
  <dd><%= @servicio.cable_poder_f3 %></dd>

  <dt>Cable poder m:</dt>
  <dd><%= @servicio.cable_poder_m %></dd>

  <dt>Tension total f1:</dt>
  <dd><%= @servicio.tension_total_f1 %></dd>

  <dt>Tension total f2:</dt>
  <dd><%= @servicio.tension_total_f2 %></dd>

  <dt>Tension total f3:</dt>
  <dd><%= @servicio.tension_total_f3 %></dd>

  <dt>Tension total m:</dt>
  <dd><%= @servicio.tension_total_m %></dd>

  <dt>Detalles:</dt>
  <dd><%= @servicio.detalles %></dd>

  <dt>Insumos repuestos:</dt>
  <dd><%= @servicio.insumos_repuestos %></dd>

  <dt>Firma solicitante:</dt>
  <dd><%= @servicio.firma_solicitante %></dd>

  <dt>Firma tecnico:</dt>
  <dd><%= @servicio.firma_tecnico %></dd>

  <dt>Imagen 1:</dt>
  <dd><%= @servicio.imagen_1 %></dd>

  <dt>Imagen 2:</dt>
  <dd><%= @servicio.imagen_2 %></dd>

  <dt>Imagen 3:</dt>
  <dd><%= @servicio.imagen_3 %></dd>

  <dt>Codigo qr:</dt>
  <dd><%= @servicio.codigo_qr %></dd>

  <dt>Otros:</dt>
  <dd><%= @servicio.otros %></dd>



  <dt>Servicio:</dt>
  <dd><%= @servicio.servicio %></dd>

</dl>
