
<div class="container">
  <div class="card-deck">
    <div class="card zoom">
      <a href="<%= clientes_path %>">
        <%= image_tag ("1.jpg") , :class => "card-img-top img-fluid"%>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Clientes</h2></div>
      </a>
    </div>

    <div class="card zoom">
      <a href="<%= equipos_path %>">
        <%= image_tag ("5.png") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Equipos</h2></div>
      </a>
    </div>

    <div class="card zoom">
      <a href="<%= servicios_path %>">
        <%= image_tag ("3.jpg") , :class => "card-img-top img-fluid" %>
      <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Mantención</h2></div>
      </a>
    </div>



<div class="w-100 p-2"></div>

<div class="card zoom">
  <a href="<%= equipos_path %>">
    <%= image_tag ("4.jpg") , :class => "card-img-top img-fluid" %>
  <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Registros</h2></div>
  </a>
</div>

<div class="card zoom">
  <a href="<%= equipos_path %>">
    <%= image_tag ("2.jpg") , :class => "card-img-top img-fluid" %>
  <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Otros</h2></div>
  </a>
</div>


      <div class="card zoom">
        <a href="<%= equipos_path %>">
          <%= image_tag ("6.jpg") , :class => "card-img-top img-fluid" %>
        <div class="card-img-overlay"><h2 class="card-title text-white font-weight-bold">Reportes</h2></div>
        </a>
      </div>





    </div>
</div>



<style>
  /* [1] The container */
  .zoom {
    height: 250px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }

  /* [2] Transition property for smooth transformation of images */
  .zoom img {
    transition: transform .5s ease;
  }

  /* [3] Finally, transforming the image when container gets hovered */
  .zoom:hover img {
    transform: scale(1.1) rotate(1deg);
  }
</style>
