<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>


  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.6/datatables.min.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.6/datatables.min.js"></script>


<script>
  $(document).ready(function() {
  	//Only needed for the filename of export files.
  	//Normally set in the title tag of your page.

  	// DataTable initialisation
  	$('#dt').DataTable(
  		{
  			"dom": '<"dt-buttons"Bfli>rtp',
  			"paging": true,
  			"autoWidth": true,
        "keys": true,
        "order": [[ 0, "desc" ]],
  			"buttons": [
  				'colvis',
  				'copyHtml5',
          'csvHtml5',
  				'excelHtml5',
          'pdfHtml5',
  				'print'
  			],

  		}


  	);
  });




</script>


  </body>


</html>
